[Base]
#Mongo Host Name
MongoHost = 10.128.129.44
#Mongo Host Port
MongoPort = 27017
#MongoDB User, 0 stands null
MongoUser = 0
#MongoDB pwd, 0 stands null
MongoPaassWord = 0

[Backup]
#DB name of backup
BackupDBName = crocodile, crocodile_ranking
#DB Output Path
DB_OutputPath = /var/lib/DB_Backup/DB
#Oplog Output Path
Oplog_OutputPath = /var/lib/DB_Backup/Oplog
#DB Back Time of Everyday(Hr:Min:Sec)
DB_BackupTime = 10:47:30
#Oplog Backup Interval(second)
Oplog_BackupTime = 900

[Recovery]
#replay replica set Host Name
replayhost = 10.128.129.46
#replica set Port
replayport = 40000
#The latest path of oplog
NowOplog_SavePath = /var/lib/DB_Backup/NowOplog
#Recovery DB Name at daily backup
RecoveryDBName = crocodile_20150914, crocodile_ranking_20150914
#The latest DB backup Path
DB_BackupPath = /var/lib/DB_Backup/DB
#Oplog backup path
Oplog_BackupPath = /var/lib/DB_Backup/Oplog
#The last recovery name of Oplog
LastOplogName = local_20150914170056_20150914170127
#The time of recovery
RecoryTimePoint = Timestamp( 1441987128, 4 )

